<div class="container">
    <mat-card>
      <div class="headerTable">
        <mat-card-title>Listagem de Títulos</mat-card-title>
  
      <a [routerLink]="['/cadastroTitulo']" mat-fab>
        Novo Título
        <mat-icon style="color: black;">add_circle_outline</mat-icon>       
      </a>
      </div>

      <mat-table [dataSource]="titulos" class="mat-elevation-z8">

        <!-- Coluna do nome do titulo -->
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let titulo" class="titulo-nome"> 
            {{ titulo.nome }} 
          </mat-cell>
        </ng-container>
  
        <!-- Coluna do ano do titulo -->
        <ng-container matColumnDef="ano">
          <mat-header-cell *matHeaderCellDef> Ano </mat-header-cell>
          <mat-cell *matCellDef="let titulo" class="titulo-ano"> 
            {{ titulo.ano }} 
          </mat-cell>
        </ng-container>

        <!-- Coluna da categoria do titulo -->
        <ng-container matColumnDef="categoria">
          <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
          <mat-cell *matCellDef="let titulo" class="titulo-categoria"> 
            {{ titulo.categoria }} 
          </mat-cell>
        </ng-container>

        <!-- Coluna do diretor do titulo -->
        <ng-container matColumnDef="diretor">
          <mat-header-cell *matHeaderCellDef> Diretor </mat-header-cell>
          <mat-cell *matCellDef="let titulo" class="titulo-diretor"> 
            {{ titulo.diretor.nome }} 
          </mat-cell>
        </ng-container>

        <!-- Coluna da classe do titulo -->
        <ng-container matColumnDef="classe">
          <mat-header-cell *matHeaderCellDef> Classe </mat-header-cell>
          <mat-cell *matCellDef="let titulo" class="titulo-classe"> 
            {{ titulo.classe.nome }} 
          </mat-cell>
        </ng-container>

        <!-- Coluna dos botões de ação -->
        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef style="justify-content: center;"> Ações </mat-header-cell>
          <mat-cell *matCellDef="let titulo" class="acoes" style="justify-content: center;"> 
            <a [routerLink]="['/cadastroTitulo', titulo.id]" mat-icon-button color="primary" >
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="openDialog(titulo)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <!-- Header e linhas da tabela -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </div>
  