<div class="container">
    <mat-card>
        <div class="headerTable">
            <mat-card-title>Listagem de Classes</mat-card-title>

            <a [routerLink]="['/cadastroClasse']" mat-fab style="background-color: white;">
                Nova Classe
                <mat-icon style="color: black;">add_circle_outline</mat-icon>
            </a>
        </div>

        <mat-table [dataSource]="classes" class="mat-elevation-z8">
            <!-- Coluna do nome do classe -->
            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell *matCellDef="let classe" class="classe-nome">
                    {{ classe.nome }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
                <mat-cell *matCellDef="let classe" class="classe-valor">
                    R$ {{ classe.valor }}
                </mat-cell>
            </ng-container>

            <!-- Coluna Classe/Data Devolução -->
            <ng-container matColumnDef="prazoDevolucao">
                <mat-header-cell *matHeaderCellDef> Data Devolução </mat-header-cell>
                <mat-cell *matCellDef="let classe" class="classe-data-devolucao">
                    {{ classe.prazoDevolucao | date:'dd/MM/yyyy' }} 
                </mat-cell>
            </ng-container>

            <!-- Coluna dos botões de ação -->
            <ng-container matColumnDef="acoes">
                <mat-header-cell *matHeaderCellDef style="justify-content: center;"> Ações </mat-header-cell>
                <mat-cell *matCellDef="let classe" class="acoes" style="justify-content: center;">
                    <a [routerLink]="['/cadastroClasse', classe.id]" mat-icon-button color="primary">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <button mat-icon-button color="warn" (click)="openDialog(classe)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <!-- Header e linhas da tabela -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card>
</div>