<!-- NAVBAR -->
<mat-toolbar color="primary"
  style="height: 75px; background-color: #575757; padding: 0px 50px; position: fixed; width: 100%; z-index: 2;">
  <button mat-icon-button (click)="sidenav.toggle()" style="color: white;">
    <mat-icon>menu</mat-icon>
  </button>
  <a href="" style="color: white; text-decoration: none;" class="bold-script">Nardi's Filmes</a>
  <span class="example-spacer"></span>
  <button mat-fab style="background-color: white;">
    <mat-icon style="color: black;">person</mat-icon>
  </button>
</mat-toolbar>

<!-- SIDEBAR -->
<!-- Adicione margem superior equivalente à altura da navbar -->
<mat-sidenav-container class="example-container" style="height: 100vh; margin-top: 75px;">
  <mat-sidenav #sidenav mode="side" opened
    style="border-radius: 0%; background-color: #424242; display: flex; justify-content: center; align-items: center;">

    <h2
      style="margin: 0px; display: flex; justify-content: center; color: white; padding: 20px 0px; border-bottom: 2px solid white;">
      <mat-icon style="margin-right: 10px;">save_as</mat-icon>
      Registrar Filmes
    </h2>

    <div class="btn-container"
      style="margin-top: 5px; display: flex; flex-direction: column; gap: 5px; align-items: center;">
      <div class="btn-ator">
        <a [routerLink]="['/ator']" mat-button class="btn-side" style="color: white;"><mat-icon
            style="margin-right: 10px;">account_box</mat-icon>Ator</a>
      </div>
      <div class="btn-classe">
        <a [routerLink]="['/classe']" mat-button class="btn-side" style="color: white;"><mat-icon
            style="margin-right: 10px;">movie</mat-icon>Classe</a>
      </div>
      <div class="btn-diretor">
        <a [routerLink]="['/diretor']" mat-button class="btn-side" style="color: white;"><mat-icon
            style="margin-right: 10px;">groups</mat-icon>Diretor</a>
      </div>
      <div class="btn-titulo">
        <a [routerLink]="['/titulo']" mat-button class="btn-side" style="color: white;"><mat-icon
            style="margin-right: 10px;">list_alt</mat-icon>Título</a>
      </div>
      <div class="btn-item">
        <a [routerLink]="['/item']" mat-button class="btn-side" style="color: white;"><mat-icon
            style="margin-right: 10px;">theaters</mat-icon>Item</a>
      </div>
    </div>

    <h2
      style="margin: 0px; display: flex; justify-content: center; color: white; padding: 20px 0px; border-bottom: 2px solid white; margin-top: 20px;">
      <mat-icon style="margin-right: 10px;">support_agent</mat-icon>
      Atendimento
    </h2>

    <div class="btn-container"
      style="margin-top: 5px; display: flex; flex-direction: column; gap: 5px; align-items: center; padding-bottom: 20px;">
      <div class="btn-socio">
        <a [routerLink]="['/socio']" mat-button class="btn-side" style="color: white;">
          <mat-icon style="margin-right: 10px;">person</mat-icon>
          Sócio
        </a>
      </div>
      <div class="btn-dependente">
        <a [routerLink]="['/dependente']" mat-button class="btn-side" style="color: white;">
          <mat-icon style="margin-right: 10px;">supervisor_account</mat-icon>
          Dependente
        </a>
      </div>
      <div class="btn-locacao">
        <a [routerLink]="['/locacao']" mat-button class="btn-side" style="color: white;"><mat-icon
            style="margin-right: 10px;">send</mat-icon>Locação</a>
      </div>
      <div class="btn-devolucao">
        <a [routerLink]="['/devolucao']" mat-button class="btn-side" style="color: white;"><mat-icon
            style="margin-right: 10px;">refresh</mat-icon>Devolução</a>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>