mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

mat-sidenav-container {
  margin-top: 75px; /* Altura da toolbar */
  height: calc(100vh - 75px); /* Ajusta a altura do container */
}


.btn-side {
    width: 300px;
    font-size: larger;
    transition: background-color 0.3s ease;
    padding: 30px 0px;
    color: white;
}

.btn-side:hover {
    background-color: black;
    color: white;
}

.example-container {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }  

  .example-spacer {
    flex: 1 1 auto;
  }  

.spacer {
    flex: 1 1 auto;
}