.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

mat-card {
  width: 90%;
  padding: 16px;
}

.headerTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTable a {
  background-color: white;
  width: 100px;
  color: black;
}

mat-table {
  width: 100%;
  margin-top: 20px;
}

.ator-nome {
  justify-content: flex-start;
  /* Alinha o nome à esquerda */
}

/* .acoes {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
} */