<div class="container">
    <mat-card>
      <div class="headerTable">
        <mat-card-title>Listagem de Diretor</mat-card-title>
  
      <a [routerLink]="['/cadastroDiretor']" mat-fab style="background-color: white;">
        Novo Diretor
        <mat-icon style="color: black;">add_circle_outline</mat-icon>       
      </a>
      </div>

      <mat-table [dataSource]="diretores" class="mat-elevation-z8">
        <!-- Coluna do nome do diretor -->
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let diretor" class="diretor-nome"> 
            {{ diretor.nome }} 
          </mat-cell>
        </ng-container>
  
        <!-- Coluna dos botões de ação -->
        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef style="justify-content: center;"> Ações </mat-header-cell>
          <mat-cell *matCellDef="let diretor" class="acoes" style="justify-content: center;">
            <a href="/cadastroDiretor" mat-icon-button color="primary" >
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="excluirDiretor(diretor)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <!-- Header e linhas da tabela -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </div>
  
